.modal-overlay{
	visibility:hidden ;
	z-index: -10;
	background: rgba(0,0,0,0.8);
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}

.show-overlay{
	visibility: visible;
	z-index: 10;
}