@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
:root{
	--black : #000000;
	--white : #ffffff;
	--blue  : #008cff;
	--green : #78ee18;
	--sample3_background :#d1caa1 ;
	--sample3_card :#306bac;
	--sample3_text : #222222;
	--sample3_card_text:#ffffff ;



}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', cursive;

}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
  }
body{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.navbar{
	background: var(--black);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	position: sticky;
	top: 0;
	width: 100%;
	padding: 0.5rem calc((100vw - 1200px)/2);
	z-index: 100;

}

.nav__logo{
	color: var(--blue);
	text-decoration: none;
	font-weight: 900;
	font-size: 1.5rem;
	margin-left: 1.2rem;
}

.navbar__menu{
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__link{
	color: white;
	text-decoration: none;
	padding: .3rem;
	margin: .2rem;
}

@media screen and (max-width: 768px){
	body.active{
		overflow-x: hidden;
		overflow-y: hidden;
	}
	
	.navbar__toggle{
		cursor: pointer;
	}

	.nav__link{
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.6s ease-out;

	}

	.navbar__menu{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5,80px);
		position: absolute;
		width: 100%;
		top: -1000px;

	}
	.navbar__menu.active{
		top: 100%;
		opacity: 1;
		z-index: 99;
		height: 100vh;
		font-size: 1.5rem;
		background: var(--black);
		overflow: scroll;
		transition: all 0.3s ease-out;
	}

	.navbar__toggle .bar{
		width: 25px;
		height: 4px;
		margin: 5px auto;
		transition: all 0.3s ease-in-out;
		background: var(--white);
		display: block;
		border-radius: 2px;

	}

	#mobile-menu{
		position: absolute;
		top: 10%;
		right: 5%;
		transform: translate(5%,20%);
		padding: 2px;
	}

	#mobile-menu.is-active .bar:nth-child(2){
		opacity: 0;
	}
	#mobile-menu.is-active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
		background: red;
	}

	#mobile-menu.is-active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
		background: red;

	}
}


/* sticky cart */
.sticky-cart{
	background: green;
	height: 60px;
	position: sticky;
	top: 50%;
	left:0;
	padding: 0.5rem calc((100vw - 1200px)/2);
}
.sticky-cart img{
	opacity: 50%;
	cursor:pointer;
	transition: 300ms ease-in-out;
}
.sticky-cart img:hover{
	opacity: 100%;
}


/*home*/
.home{
	background:linear-gradient(to top,rgba(0,0,0,0.8),rgba(0,0,0,0.1));
	height: 93.3vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.5rem calc((100vw - 1200px)/2);
	width: 100%;

}
.home .button{
	margin-bottom: 1rem;
}
.home__container{
	display:  flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 70%;
	margin: 2rem;
}

.home__container h1{
	font-size: clamp(2rem,8vw,3rem);
	text-transform: uppercase;
	margin-bottom: 0.5rem;

}

.home__container p{
	margin:.4rem 0;
}


/* services page: */
.services {
	padding: 8rem calc((100vw-1200px)/2);
	display:flex;
	align-items: center;
	flex-direction: column;
	width:100%;
}
.services h1{
	display:flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	font-size: clamp(2rem,8vw,3rem);
	margin:1rem 0;

}
.services__grid{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto,350px);
	padding: 0 2rem;
	max-width: 1200px;
	margin:0 auto;

}

.services__grid__card{
	position:relative;
	margin:1rem;
	border-radius: .5rem;
	display:flex;
	justify-content: space-between;
	min-height: 450px;
	min-width: 90%;
	flex-direction: column;
	align-items: center;
	background:var(--sample3_card);
	padding:1rem;
	color:var(--sample3_card_text);
}


.services__grid__card h3{
	font-size:clamp(1rem,6vw,2rem);
	background:rgba(0,0,0,0.3);
	border-radius: .5rem;
	padding:.5rem;
	margin-bottom:1rem;
}
.services__grid__card p{
	font-size:clamp(1rem,2vw,3rem);
	margin:1rem 0;
	line-height: 1.4;
}
.services__grid__card img{
	width:100%;
	height:100%;
	border-radius: .5rem;
}

.services__grid__card .btn-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

}

@media screen and (max-width:504px){
	.services__grid{
		padding:0;
	}
	.services__grid__card .btn-container{
		flex-direction: column;


	}
}

.services__grid__card .button{
	font-size:clamp(1rem,2vw,2rem);
	margin: .3rem;
}
@media screen and (max-width:900px){
	.services__grid{
		grid-template-columns: 1fr;
	}
	.services__grid__card{
		width:90%;
	}
}
.service-features{
	display:flex;
	flex-direction: column;
}
.servicefeat__container{

	display:grid;
	grid-template-columns: 1fr 1fr;
	padding: 1rem;
}

.servicefeat__img{
	width:100%;
	height:100%;
}
.services__topline{
	color: var(--blue);
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom: 0.5rem;
}
.servicefeat__feat{
	margin-bottom:1.5rem;
	font-size: clamp(1rem,5vw,1.2rem);
}
.fa-check-circle{
	color:var(--green);
	margin-right:0.5rem;
}


@media screen and (max-width: 768px){
	.servicefeat__container{
		grid-template-columns: 1fr;
	}
}

/* about */
.about{
	padding: 8rem calc((100vw-1200px)/2);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.about ul{
	max-width: 150ch;

}

/* contact */
.contact{
	padding: 8rem calc((100vw-1200px)/2);
}

/* social */
.social{
	padding: 8rem calc((100vw-1200px)/2);

}
/*Service1 : samples page*/
/*cart*/
.cart-modal{
	display: flex;
	margin: 0 auto;
	width: 100%;
	background: green;
	flex-direction: column;
	align-items: center;
	padding: 2rem;

}


.sample{
	
	padding: 8rem calc((100vw - 1200px)/2);
}
.sample3box{
	display: flex;
	flex-direction: column;
	background-color: var(--sample3_background);
	color:var(--sample3_text);
	width:100%;
	height:100%;
}

.sample3box h1{
	margin:1rem;
	font-size:clamp(2rem,5vw,3rem);
	padding:.5rem;
}
.sample3box_desc{
	margin:1rem;
	font-size:clamp(1rem,3vw,1.5rem);
	padding:.5rem;
}

.sample3box_wrapper{
	display: flex;
	justify-content: space-between;
	margin:1rem;
	padding:.5rem;
}
.sample3box_card{
	display:flex;
	padding:.5rem;
	flex-direction: column;
	justify-content: space-between;
	min-height:450px;
	width:325px;
	color:var(--sample3_card_text);
	background-color: var(--sample3_card);
	border-radius: .5rem;
	text-align: center;
}

.sample3box_card_features p{
	margin-bottom:1rem;
}

@media screen and (max-width:1094px){
	.sample3box_wrapper{
		flex-direction: column;
		align-items: center;
	}
	.sample3box_card{
		width:60%;
		margin-bottom:2rem;
	}
}
@media screen and (max-width:600px){

	.sample3box_card{
		width:90%;
		margin-bottom:2rem;
	}
}


/* sample 4 */

.sample4grid{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows : repeat(auto,350px);
	padding:2rem;
	grid-gap:1rem;
}

.sample4grid img{
	width:100%;
	height:100%;
	border-radius: .5rem;
}
.sample4grid_card{
	position: relative;
}
.sample4grid_card p{
	position:absolute;
	bottom:30px;
	color:var(--white);
	background:rgb(0, 0, 0, 0.40);
	left: 25px;
	font-size: 3rem;
	padding:.5rem;
	border-radius: .5rem;
}

@media screen and (max-width:768px){
	.sample4grid{
		grid-template-columns: 1fr;
	}
}
/*utilities*/


.button{
	padding: 1rem 3rem;
	border: none;
	background: var(--blue);
	color: var(--white);
	font-size: 1rem;
	cursor: pointer;
	outline: none;
	transition: 0.3s ease;
	text-decoration: none;
	border-radius: .5rem;
	font-weight: 600;
}

.button:hover{
	background: var(--black);
	font-weight: 900;
	font-size: 1.3rem;
}

.topline{
	color: var(--red);
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

